/*GAME INFORMATION CONTAINER */
#gamesContainer {
    font-family: 'Quantico', sans-serif;
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    
}


#gameTime {
    font-size: .8rem;
    width: 20vw;
    
}

#awayTeamScore {
    color: white;
    padding: 5px;
    margin-bottom: 2px;
    
}

#homeTeamScore {
    color: white;
    padding: 5px;

}

#gameContainer {
    font-family: 'Quantico', sans-serif;
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
}

  
    
#weather {
    padding: 5px;
    font-family: 'Quantico', sans-serif;
    font-size: 1.2rem; 
    text-align: center; 
}

#venue {
    font-family: 'Quantico', sans-serif;
    padding: 5px;
    font-size: 2rem; 
    color: whitesmoke;
    text-align: center;

}

#venuePhoto { 
    padding: 5px;
}


#gameDescription {
    font-family: 'Quantico', sans-serif;
    font-size: 1.2rem;
    vertical-align: 50%;
}

#eventsContainer {

}

#imageContainer {
display: inline-block;

}

#imageHeadline {

}

/* video container */
#videoContainer {
    background-color: black;
    padding: 5px;
    margin-bottom: 3px;  
    color: white;
}

#sectionHeadline {
    font-family: 'Quantico', sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

#videoHeadline {
    font-family: 'Overpass Mono', monospace;
    font-size: 1rem; 
    color: white;
    margin-left: 10px;
    text-align: center;

}

#video { 
    display: inline-block;
    margin-left: 35%;
    margin-bottom: 5px;
    
}

#newsContainer {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 5px;
    margin: 5px; 

}

#newsSectionHeadline {
    font-family: 'Overpass Mono', monospace;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: goldenrod;  
    text-decoration: none;
    
    
}

#newsDescription {
    color: white;
    font-family: 'Overpass Mono', monospace;
    font-size: .85rem; 
    color: white;
    margin-left: 5px;
    display: inline-block;
}

/* touchdowns/field goals/penalties/etc */
#touchdown {
    font-family: 'Quantico', sans-serif;
    font-size: 7rem;
    color: white;
    text-align: center;
    margin-top: 5px;

}

#fieldGoal {
    font-family: 'Quantico', sans-serif;
    margin-top: 5px;
    font-size: 3rem;
    color: white;
    text-align: center;
}

/* SCORE */
#gameStatus {
    font-family: 'Quantico', sans-serif;
    padding: 5px;
    font-size: 2rem; 
    color: whitesmoke;


}

#homeTeam {
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
    padding: 8px;
    font-size: 2.5rem;
    margin-right: 45%;

}

#awayTeam {
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
    padding: 8px;
    font-size: 2.5rem;
    margin-right: 45%;

    }
    
/*PLAYS CONTAINER */ 
#theDownDistanceIs {
    font-family: 'Quantico', sans-serif;
    padding: 5px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.767);
    margin-right: 45%;  
    color: whitesmoke;
}

#currentPlayContainer {
    display: inline;
    font-family: 'Quantico', sans-serif;
}

#currentPlay {
   font-family: 'Quantico', sans-serif;
   padding-left: 5px;
   font-size: 1.5rem; 
   background-color: rgba(245, 212, 22, 0.966);
   margin-right: 45%;
   color: black;  
}



/*STATS CONTAINER */
#homeStatsContainer {
    font-family: 'Quantico', sans-serif;
    padding: 10px;
    font-size: 1rem;  
    color: whitesmoke;
    display: inline-block;
    margin-top: 5px;
    
    

}

#awayStatsContainer {
    font-family: 'Quantico', sans-serif;
    padding: 10px;
    font-size: 1rem;  
    color: whitesmoke;
    display: inline-block;
    margin-top: 5px;
    
    
    

}


#homePassingLeader {
    font-family: 'Quantico', sans-serif;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0);
    

    
}


#homePassingStats {
    display: inline-block;
    padding: 10px;
    

}

#awayPassingLeader {
    font-family: 'Quantico', sans-serif;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0)
   
    
    
}

#awayPassingStats {
    display: inline-block;
    padding: 10px;
    

}

#homeRushingLeader {
    font-family: 'Quantico', sans-serif;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0);
    
    
    
}

#homeRushingStats {
    display: inline-block;
    padding: 10px;
    

}

#awayRushingLeader {
    font-family: 'Quantico', sans-serif;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0)
   
    
    
}

#awayRushingStats {
    display: inline-block;
    padding: 10px;
    

}

#homeReceivingStats {
    display: inline-block;
    padding: 10px;
   
    

}

#awayReceivingLeader {
    font-family: 'Quantico', sans-serif;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0)
   
    
    
}

#awayReceivingStats {
    display: inline-block;
    padding: 10px;
    

}

#winner {
    font-family: 'Quantico', sans-serif;
    font-size: 5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

#scoringPlaysContainer {
    font-family: 'Quantico', sans-serif;
    font-size: 1rem;
    margin-top: 5px;    
    color: whitesmoke;
    margin: 0;


}

#scoringPlays {
    border: 1pt solid white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.767);
    

}

