#gameInfoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
  }
  
  #gameInfoContainer > div {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    
  }

  #weather {
    font-family: 'Overpass Mono', monospace;
  }

  #venue {
    font-family: 'Quantico', sans-serif;
  }

  #touchdown {
    font-family: 'Quantico', sans-serif;
  }

  #winner {
    font-family: 'Quantico', sans-serif;
    background-color: white;
  }

  #venuePhoto {
    margin-top: 3px;
  }

  #theDownDistanceIs {
    background-color: rgba(0, 0, 0, 0.767);
    color: whitesmoke;
  }

  #currentPlay {
    background-color: rgba(245, 212, 22, 0.966);
    color: black;

  }

  #gameDescription {
    color: rgb(26, 25, 25);
    font-family: 'Overpass Mono', monospace;
    background-color: #f1f1f1;
    margin-bottom: 2px;
    margin-top: 2px;

  }

  #gameStatus {
    font-family: 'Quantico', sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  #awayTeam {
    font-family: 'Quantico', sans-serif;
    padding: 3px;
    
  }

  #homeTeam {
    font-family: 'Quantico', sans-serif;
    padding: 3px;
    margin-bottom: 3px;

  }

  #playsContainer {
    font-family: 'Quantico', sans-serif;
  }

  #currentPlayContainer {
    font-family: 'Quantico', sans-serif;
  }

  #statsContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;   
  }

  #homeStatsContainer {
    font-family: 'Quantico', sans-serif;
    margin: 5px;
    flex-grow: 1;
 
  }

  #theHomeReceivingLeader {
      margin-bottom: 1.1px;
  }

  #awayStatsContainer {
    font-family: 'Quantico', sans-serif;
    margin: 5px;
    flex-grow: 1
 
  }

  #scoringPlays {
    font-family: 'Quantico', sans-serif;
    align-self: flex-end;
    padding: 5px;
    color: rgb(43, 41, 41);
    margin: 5px;
  }




